#bar{
  background-color: black;
  width: 30px;
  height: 180px;
  margin: auto;
}

#traffic{
  background-color: black;
  width: 180px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
}
.light{
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.roja{
  background-color: red;
}

.amarilla{
  margin-top: 10px;
  background-color: yellow;
}
.verde{
  margin-top: 10px;
  background-color: green;
}
#encendida{
  box-shadow: 0 0 30px #FFFFFF;
}
